.bg-primary {
  background: #1c2664 !important;
  background-color: #1c2664;
}

#mainNav .navbar-brand {
  color: white;
}

#mainNav.navbar-shrink {
  border-color: rgba(34,34,34,.1);
  background-color: #222;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #fff;
}

#mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
  color: #fdcc52;
}

#mainNav.navbar-shrink .navbar-nav > li > a, #mainNav.navbar-shrink .navbar-nav > li > a:focus {
  color: #fff;
}

#mainNav.navbar-shrink .navbar-nav > li > a:hover, #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #5865f2;
  border: 2px solid #5865f2;
  color: #fff;
}

#mainNav {
  border-color: transparent;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a, #mainNav .navbar-nav > li > a:focus {
  color: #fff;
}

@media (max-width: 992px) {
  #mainNav {
    border-color: rgba(34,34,34,.1);
    background-color: #222;
  }
}

.social-item {
  cursor: pointer;
}